* {
    box-sizing: border-box;
}

.column{
    width: 30%;
    background: lightgreen;
    padding: 5px;
    border-radius: 10px;
}

.droppable-col{
    width: 100%;
    background-color: grey;
    padding: 10px 10px 0px 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.item{
    margin-bottom: 10px;
    color: white;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 7px;
}
.item.dragging {
    background-color: coral;
}